[submodule "ext/modern-cpp-features"]
	path = ext/modern-cpp-features
	url = https://github.com/AnthonyCalandra/modern-cpp-features.git
[submodule "ext/modern-c-features"]
	path = ext/modern-c-features
	url = https://github.com/AnthonyCalandra/modern-c-features.git
